.img-container {
  display: flex;
  overflow: hidden;
  cursor: zoom-in;
  justify-content: center;
}
.img {
  display: flex;
  object-fit: cover;
  object-position: center center;
  max-width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}
.img-container:hover {
  transform: scale(1.2);
}

.img-container--project {
  border: var(--global-border-size) solid var(--global-border-color);
  padding: 0.4rem;
}

.img-container--gallery {
  max-height: 40rem;
}

.img-container--project:nth-child(1) {
  grid-area: img-1;
}
.img-container--project:nth-child(2) {
  grid-area: img-2;
}
.img-container--project:nth-child(3) {
  grid-area: img-3;
}
.img-container--project:nth-child(4) {
  grid-area: img-4;
}
