---
interface Props {
  urlLink: string;
  variant?: string;
  align: "left" | "center" | "right" | "auto";
}
const { urlLink, variant, align } = Astro.props;
---

<a href={urlLink} class:list={variant}><slot /></a>
<style define:vars={{ align }}>
  a {
    font-family: var(--font-light);
    font-size: clamp(1.8rem, 3vw, 2rem);
    color: var(--secundary-dark);
    text-transform: none;
    padding: 0.5rem;
    text-align: var(--align);
    width: 100%;
    transition: all 0.2s linear;
  }
  a:hover {
    color: var(--secundary-light);
  }

  .slider__link {
    color: var(--secundary-light);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .slider__link:hover {
    transform: scale(1.2);
  }
</style>
