---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cotizacion | AT">
  <section class="cotizacion-wrapper">
    <iframe
      src="https://form.jotform.com/230016463356046"
      class="cotizacion-container"
      title="formulario "
      loading="eager"></iframe>
  </section>
</Layout>

<style>
  .cotizacion-wrapper {
    width: 100%;
    height: 100%;
  }
  .cotizacion-container {
    width: 100%;
    height: 100%;
  }
</style>
