---
import Layout from "../layouts/Layout.astro";
import Anahuac from "../components/icons/partners/Anahuac.astro";
import Faro from "../components/icons/partners/Faro.astro";
import Eladios from "../components/icons/partners/Eladios.astro";
import Lapalapa from "../components/icons/partners/Lapalapa.astro";
import InfiniteScroll from "../components/InfiniteScroll.astro"
---

<Layout title="Aguilar Talleres Carpinteria">
  <section class="home">
   <InfiniteScroll/>
    <header class="home__header">
      <div class="home__wrapper">
        <h1 class="home__carpi">carpintería</h1>
        <div class="home__middle-container">
          <p class="home__title title--xlg" id="home__title">
            aguilar talleres
          </p>
          <p class="home__location">Mérida, Yucatán, México</p>
        </div>
        <ul class="home__icons-wrapper">
          <li class="home__icon-container">
            <Anahuac />
          </li>
          <li class="home__icon-container">
            <Faro />
          </li>
          <li class="home__icon-container">
            <Eladios />
          </li>
          <li class="home__icon-container">
            <Lapalapa />
          </li>
        </ul>
        <spam class="home__menu">menu</spam>
      </div>
    </header>
  </section>
</Layout>

<style>
  .home {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .home__header {
    width: 100%;
    text-align: center;
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .home__wrapper {
    width: 85%;
    max-width: 85rem;
    padding-bottom: var(--global-margin);
  }
  .home__carpi {
    font-family: var(--font-medium);
    font-size: var(--font-sml);
  }
  .home__middle-container {
    max-height: 0;
    animation: grow 1.8s ease-in-out 0.5s forwards;
    overflow: hidden;
  }

  .home__title {
    overflow: hidden;
    font-family: var(--font-title);
    text-transform: uppercase;
    padding-top: 0.5rem;
  }

  .home__location {
    font-family: var(--font-light);
    font-size: 1.8rem;
    text-transform: capitalize;
    display: block;
    width: 100%;
  }
  .home__icons-wrapper {
    display: flex;
    max-height: 8rem;
    border-bottom: var(--global-border-size) solid var(--global-border-color);
    border-top: var(--global-border-size) solid var(--global-border-color);
    margin-top:var(--global-margin);
  }
  .home__icon-container {
    flex 1 1 20%
  }

  .home__menu {
    font-family: var(--font-regular);
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--primary-light);
    letter-spacing: 0.1rem;
  }
  /* vertical line border */
  .home__menu::before {
    content: "";
    display: block;
    width: var(--global-border-size);
    height: 4rem;
    background-color: var(--global-border-color);
    margin: auto;
  }
  .home__carpi,
  .home__menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

</style>
