---
import Layout from "../layouts/Layout.astro";
import VerticalScroll from "../components/VerticalScroll.astro";
import HeaderHome from "../components/HeaderHome.astro";
import Overlay from "../components/Overlay.astro";
---

<Layout title="Aguilar Talleres">
  <section class="home-wrapper">
    <VerticalScroll />
    <HeaderHome />
    <Overlay />
  </section>
</Layout>

<style>
  .home-wrapper {
    height: 100%;
    position: relative;
  }
</style>
