---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/layout/Paragraph.astro";
import Step from "../layouts/Step.astro";
// icons svgs
import Planta2 from "../components/icons/Planta2.astro";
import Done from "../components/icons/Done.astro";
---

<Layout title="proceso | AT">
  <div class="process">
    <section class="process__step">
      <div class="process__start">
        <h1 class="title--xlg process__title--main">
          el viaje <br /> artesanal
        </h1>
        <Paragraph textSize="lg" containerSize="80" order={3} custom="prueba">
          Desde la primera idea hasta el toque final una expresión artística que
          transforma madera en muebles que visten tu hogar
        </Paragraph>
      </div>
      <div class="process__plant">
        <Planta2 />
      </div>
    </section>
    <Step
      title="consulta creativa"
      texto="Comenzamos escuchando tus ideas y necesidades para entender a fondo tus visiones y preferencias "
      number="01"
      imgPath="/assets/process/step-1.webp"
      imgAlt="foto representativa de una platica en una mesa de madera con computadoras y papeles"
    />
    <Step
      title="armado de diseño"
      texto="Plasmamos todo en planos detallados, refinando cada diseño para que se ajuste perfectamente a tu estilo y espacio."
      number="02"
      imgPath="/assets/process/step-2.webp"
      imgAlt="sketch de un buro hecho en madera"
    />
    <Step
      title="artesania habil"
      texto="Nuestros artesanos expertos inician la construcción con precisión y habilidad, aplicando su destreza en cada paso."
      number="03"
      imgPath="/assets/process/step-3.webp"
      imgAlt="foto de una madera siendo cortada en una sierra de banco"
    />
    <Step
      title="proceso de acabado"
      texto="Aplicamos técnicas de acabado para realzar la belleza de la madera y garantizar la durabilidad de cada pieza."
      number="04"
      imgPath="/assets/process/step-4.webp"
      imgAlt="foto de una pistola de compresor pintando una madera"
    />
    <Step
      title="instalación y entrega"
      texto="Se verifica cada mueble para llegar impecable, listo para embellecer y satisfacer todas las necesidades de tus espacios"
      number=""
      imgPath="/assets/process/step-5.webp"
      imgAlt="foto de un buro de madera en blanco y natural a lado de una cama"
    >
      <Done />
    </Step>
  </div>
</Layout>

<style is:global>
  .process {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .process__plant {
    width: clamp(15rem, 25vw, 30rem);
    height: clamp(20rem, 35vh, 35rem);
    position: absolute;
    top: clamp(3rem, 3vh, 5rem);
    left: clamp(10rem, 50vw, 70rem);
    z-index: 1;
    opacity: 0;
    animation: show 0.5s ease-out 1.5s forwards;
  }
  .process__step {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    scroll-snap-align: start;
    justify-content: center;
    align-items: stretch;
    z-index: 10;
  }
  .process__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
  .process__start,
  .process__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .process__start {
    width: calc(100% - var(--global-margin));
    position: relative;
    max-width: 130rem;
    align-self: flex-end;
    overflow: hidden;
  }
  .process__start::before {
    content: "";
    display: block;
    width: 100%;
    margin-left: auto;
    height: var(--global-border-size);
    background-color: var(--global-border-color);
    order: 2;
    transform: scaleX(0);
    transform-origin: left;
    animation: drawLineX 1.3s linear 0.8s forwards;
  }

  .process__title--main {
    order: 1;
    height: clamp(12rem, 30vh, 35rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: translateX(-100%);
    animation: slideInLeft 0.6s ease-in-out 0.4s forwards;
  }

  .process__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  /* ocultar el scrollbar */
  .process::-webkit-scrollbar {
    width: 5px;
  }
  .process::-webkit-scrollbar-thumb {
    background-color: var(--secundary-dark); /* Color del scrollbar */
    border-radius: 0px; /* Radio de borde del scrollbar */
    height: 5px;
    width: 5px;
  }

  .process::-webkit-scrollbar-track {
    background-color: var(--white); /* Color del fondo del scrollbar */
    height: 5px;
  }
</style>
