---
import InfoBox from "./InfoBox.astro";
import Link from "./layout/Link.astro";
import Arrow from "./icons/Arrow.astro";
import Btn from "./layout/Btn.astro";
---

<div class="slider-wrapper">
  <ul class="slider__items-container">
    <li class="slider__item-wrap">
      <picture class="slider__img-container">
        <img
          src="/assets/proyects/orion/orion-2.jpg"
          alt="mueble de madera hecho en listonado de caobilla color chocolate"
        />
      </picture>
      <div class="slider__column-right">
        <header class="slider__header">
          <span class="slider__subtitle">proyecto</span>
          <h2 class="slider__title title--md">orion bussines hub</h2>
          <InfoBox title="servicio" text="empresarial" alignText="right" />
        </header>
        <Link urlLink="/Proyectos/Orion" align="center">ver detalles</Link>
      </div>
    </li>
    <div class="slider__btns-container">
      <Btn variant="btn--arrow" toolTip="retroceder"><Arrow /></Btn>
      <Btn variant="btn--arrow" toolTip="avanzar">
        <Arrow variant="right" />
      </Btn>
    </div>
  </ul>
</div>
<style>
  .slider-wrapper {
    flex: 1 1 auto;
    overflow: hidden;
  }
  .slider__items-container {
    height: 100%;
    position: relative;
  }
  .slider__item-wrap {
    display: flex;
    height: 100%;
  }
  .slider__img-container {
    flex: 1 1 auto;
    border-right: var(--global-border-size) solid var(--global-border-color);
  }
  .slider__img-container > img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
  }
  .slider__column-right {
    flex: 1 0 calc((100vw - var(--nav-height)) / 2);
    text-align: right;
    padding: var(--global-margin);
    display: flex;
    flex-direction: column;
  }
  .slider__header {
    flex: 0 1 85%;
  }
  .slider__title {
    margin: 0.5rem 0 2rem 0;
  }
  .slider__subtitle {
    font-family: var(--font-medium);
    font-size: 1.2rem;
    color: var(--primary-dark);
    text-transform: uppercase;
  }
  .slider__btns-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: calc((100vw - var(--nav-height)) / 2);
    /* height: 4rem; */
    gap: var(--global-border-size);
    padding: var(--global-border-size);
  }
</style>
