---
import SliderItem from "./SliderItem.astro";
import SliderDots from "./SliderDots.astro";
import Indicator from "./Indicator.astro";

import { projectsData } from "../lib/projectsData";

const projectsIds = projectsData.map((project) => {
  return project.Id;
});
---

<div class="slider-wrapper">
  <ul class="slider__items-container">
    {projectsData.map((project) => <SliderItem projectData={project} />)}
  </ul>
  <div class="slider__indicators">
    <Indicator text="desliza" variant="indicator__slider" />
    <SliderDots ids={projectsIds} />
  </div>
</div>

<style>
  .slider-wrapper {
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .slider__items-container {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
  }
  .slider__items-container::-webkit-scrollbar {
    display: none;
  }
  .slider__indicators {
    position: absolute;
    bottom: var(--global-margin);
    right: var(--global-margin);
    width: min-content;
  }
</style>
