---
import Lightbox from "../../components/lightbox/Lightbox.astro";

interface Image {
  url: string;
  alt: string;
  category: string;
}

interface Props {
  images: Image[]; // Array de objetos Image
}

const { images } = Astro.props;
---

<div class="project__gallery-wrapper" id="imgs-wrapper">
  {
    images.map((img, index) => {
      return (
        <picture class="img-container img-container--project">
          <img src={img.url} alt={img.alt} class="img" />
        </picture>
      );
    })
  }
  <Lightbox />
</div>

<style>
  .project__gallery-wrapper {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-areas:
      "img-1 img-2 img-2 img-2"
      "img-1 img-2 img-2 img-2"
      "img-3 img-3 img-4 img-5";
    grid-template-columns: 3fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    padding: var(--global-margin);
    gap: 1rem;
    overflow: hidden;
    grid-auto-flow: dense;
    position: relative;
  }

  .img-container--project:nth-child(1) {
    grid-area: img-1;
  }
  .img-container--project:nth-child(2) {
    grid-area: img-2;
  }
  .img-container--project:nth-child(3) {
    grid-area: img-3;
  }
  .img-container--project:nth-child(4) {
    grid-area: img-4;
  }

  /* animacion hover imagen */
  /* .project__img-container:hover img {
    transform: scale(1.2);
  } */
</style>
