---
import Btn from "../Btn.astro";
import LogoSite from "../../icons/LogoSite.astro";
---

<ul class="navbar">
  <li class="navbar__btn-wrapper">
    <Btn><a href="https://form.jotform.com/230016463356046">cotizar</a></Btn>
  </li>
  <li class="navbar__btn-wrapper">
    <Btn variant="btn--logo-site" id="menu-btn">
      <LogoSite />
    </Btn>
  </li>
  <li class="navbar__btn-wrapper">
    <Btn><a href="/">asistencia</a></Btn>
  </li>
</ul>

<style>
  .navbar {
    display: flex;
    justify-content: center;
    border-top: var(--global-border-size) solid var(--global-border-color);
    border-bottom: var(--global-border-size) solid var(--global-border-color);
    height: var(--nav-height);
    width: 100%;
    position: relative;
    z-index: 2;
  }
  .navbar__btn-wrapper {
    flex: 1 1 33.33%;
    color: var(--secundary-dark);
  }

  /* logo - site */
  .navbar__btn-wrapper:nth-child(2) {
    flex: 0 0 var(--nav-height);
    height: var(--nav-height);
    border-left: var(--global-border-size) solid var(--global-border-color);
    border-right: var(--global-border-size) solid var(--global-border-color);
  }
  .navbar__btn-wrapper:nth-child(2) button {
    height: auto;
  }
</style>
